/**************************************Tag Selectors******************************/

body {
  background-color: #EAF6F6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: GREY;
  width: 5%;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}

img:hover {
  background-color: gold;
}
/*
img{
  background-color: red;
}
*/
/**************************************Class Selectors******************************/
.bacon {
  background-color: red;
  width: 30px;
}
.broccoli{
  background-color: green;
  width: 30px;
}
